/* Copyright 2021 - @zthur98 */
* {
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}
html {
    -webkit-tap-highlight-color: transparent;
    background: #000;
    /* background: #1e1e1e; */
    /* background-size: 100% 100%; */
    overflow-x: hidden;
}
::-webkit-scrollbar {
    width: 12px;
    background: rgb(0, 0, 0);
}
::-webkit-scrollbar-thumb {
    height: 85px;
    background: linear-gradient(#000, #c5c5c5, #f0fffa);
    border-radius: 6px;
}
#toggle {
    top: 0.5em;
    position: relative;
    width: 50px;
    height: 50px;
    background: #000;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.2s;
}
#toggle.active {
    background:rgb(0, 0, 0);
}
#toggle::before {
    content:'';
    position: absolute;
    width: 28px;
    height: 2px;
    background: rgb(255, 255, 255);
    transition: 0.2s;
    transform: translateY(-10px);
    box-shadow: 0 10px 0 rgb(255, 255, 255);
}
#toggle.active::before {
    transform: translateY(0px) rotate(45deg);
    box-shadow: 0 0 0 rgb(255, 255, 255);
}
#toggle::after {
    content:'';
    position: absolute;
    width: 28px;
    height: 2px;
    background: rgb(255, 255, 255);
    transition: 0.2s;
    transform: translateY(10px);
}
#toggle.active::after {
    transform: translateY(0px) rotate(-45deg);
}
.escondido {
    background: transparent;
    position: relative;
    height: 80px;
    width: 100%;
    z-index: 2;
}
nav {
    background: #000 url("https://www.nasa.gov/sites/all/themes/custom/nasatwo/images/starfield-banner.jpg");
    position: fixed;
    height: 80px;
    width: 100%;
    z-index: 1000;
}
label.logo {
    color: rgba(255, 255, 255, 0.925);
    font-size: 55px;
    line-height: 80px;
    padding: 0 100px;
    font-weight: bold;
}
.logocrow {
    filter: invert();
    width: 80px;
    margin-top: 0.1em;
}
.menu-urls {
    float: right;
    margin-right: 20px;
    font-family: 'Dosis', sans-serif;
}
nav ul li {
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}
nav ul li a {
    color: #b3b3b3;
    font-size: 17.5px;
    padding: 7px 13px;
    text-transform: uppercase;
}
nav ul li a:hover {
    color:#fff;
    transition: .6s;
}
.checkbtn {
    font-size: 30px;
    color: white;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display:none;
}
#check {
    display:none;
}
h1 {
    font-family: 'Aref Ruqaa', serif;
    color: rgba(255, 255, 255, 0.863);
    position: relative;
    text-align:justify;
    padding: 30px 0px;
    font-size: 20px;
}
.d1 {
    font-family: 'Aref Ruqaa', serif;
    color: rgba(255, 255, 255, 0.863);
    position: relative;
    text-align:justify;
    padding: 30px 0px;
    font-size: 20px;
    text-decoration:underline;
}
.d1:hover {
    color: white;
}
.container{
    position: relative;
    padding: 0 250px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.color {
    color: #f8f1ff;
}

@media (max-width: 952px) {
    /* .logocrow {
        width: 40px;
        margin-top: 0.5em;
    } */
    label.logo{
        font-size: 46px;
        padding-left: 50px;
    }
    nav ul li a {
        font-size: 16px;
    }
    h1 {
        font-size: 15px;
    }
    .d1 {
        font-size: 15px;
    }
    .container  {
        padding: 0 100px;
    }
}

@media (max-width: 858px) {
    h1 {
        font-size: 13px;
    }
    .d1 {
        font-size: 13px;
    }
    .checkbtn {
        display: block;
    }
    .menu-urls {
        position: fixed;
        width: 100%;
        height: 100%;
        background: #000 url("https://www.nasa.gov/sites/all/themes/custom/nasatwo/images/starfield-banner.jpg");
        top: 80px;
        left: 100%;
        text-align: center;
        transition: all .5s;
    }
    nav ul li {
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }
    nav ul li a {
        font-size: 20px;
    }
    #check:checked ~ .menu-urls {
        left: 0;
    }
    #check:checked ~ .checkbtn {
        color:rgb(223, 154, 26);
        transition: .5s;
    }
    .textos li {
    padding: 10px 10px;
    }
    .container  {
        padding: 0 30px;
    }
}
@media (max-width: 370px) {
    .logocrow {
        filter: invert();
        width: 60px;
        margin-top: 0.15em;
    }
}